/* LISTA DE PRODUCTOS PARA UTILIZAR A FUTURO */

/*
.lista{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: -3rem;
}

.lista__div{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.lista__div img{
    width: 350px;
    height: 350px;
}

.lista__link{
    display: inline-block;
    flex-direction: column;
    text-align: center;
    color: black;
    font-size: 18.5px;
}

.zoom {    
    transition: all 0.5s;
}
 
.zoom:hover {
    transform: scale(1.1); 
    background-color:black;
    padding: 5px;
}
*/

/* MEDIA QUERYS */

@media screen and (max-width: 800px) {

    .inicio__bienvenida {
        font-size: 20px;
    }
    .inicio__bienvenida h2 {
        padding: 1rem;
        font-size: 18px;
    }
    .inicio__info {
        flex-wrap: wrap;
    }
}