/* INDEX */

.inicio {
    background: $color-header;
    color: $color;
    text-align: center;
}

.inicio__bienvenida {
    padding: 1rem;
        h1 {
            font-weight: bold;
            padding-bottom: 10px;
        }
        h2 {
            text-align: center;
        }
}

.card__index {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    width: 320px;
}

.card__img {
    margin: auto;
    width: 200px;
}

.card__parrafo, .card__parrafo h4, .card__parrafo p {
    font-weight: bold;
    color: $color;
}
