* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $color-body;
    color: $color;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}


.content {
    margin: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

ul {
    list-style: none;
    padding: 0;
}

/* MENU */

.header__logo {
    padding-left: 1em;
    font-size: 1em;
    text-decoration: none;
    color: $color;
    font-weight: bold;
}

.header__logo span {
    color: $color-logo_span;
    font-weight: bold;
}

.navbar-propio {
    flex-grow: 0;
}

.navbar-nav {
    font-size: 1.2em;
}
