/* TERMINOS Y CONDICIONES */
.terminos {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 3em;
    border: solid;
    border-radius: 1em;
    border-color: $color-logo_span;
}

.terminos h2{
    text-align: center;
}